.header-container {
  color:#555;
  & .btn {
    font-weight:bold;
    border-radius:0;
    border:0;
    outline:0px;
    outline:none;
  }
  & .btn:hover {
    outline:none;
    border:0;
  }
  & .btn:focus {
    outline:0px;
    outline:none;
    border:0;
  }  
  & .btn:active {
    outline:0px;
    outline:none;
    border:0;
  }  
  & .btn:focus:active {
    outline:0px;
    outline:none;
    border:0;
  }
  & .btn:focus,.btn:active {
   border:none;
   -webkit-box-shadow: none;
   -moz-box-shadow: none;
   box-shadow: none;
  }
}